.dev-icon i {
  animation: spin 3s linear infinite;
  color: #f0ad4e;
  /* Bootstrap warning color */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

p {
  font-size: 1.1rem;
}