.visitor-report {
  .status-buttons {
    .btn {
      border: 1px solid #ccc;
      border-radius: 20px;
      transition: all 0.3s ease;

      &.active {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
      }

      &:hover {
        background-color: #0056b3;
        color: white;
        
      }

   }
  }
  .table-grey th {
  background-color: #adb5bd;
   color: #000000;               
}

  table {
    th, td {
      vertical-align: middle;
    }
  }
}
