<!-- <p>appointment works!</p> -->
<h2>Register</h2>
<form [formGroup]="dataForm">
  <div class="card w-100  shadow " style="height: 75vh; overflow-y: auto;"> <!-- Full width with shadow -->
    <div class="card-body h-100">
      <div class="card-text  ">
        <div class="row g-3"> <!-- g-3 adds spacing between columns -->
          <div class="col-md-2 ">
            <label>User Id</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control form-control-sm w-100" formControlName="user_id"
              [disabled]="queryParamsData.params.STATUS != 'ADD'" [readonly]="queryParamsData.params.STATUS != 'ADD'">
          </div>
          <div class="col-md-2 ">
            <label>Password</label>
          </div>
          <div class="col-md-4">
            <input type="password" class="form-control form-control-sm w-100" formControlName="password"
              [placeholder]="queryParamsData.params.STATUS != 'ADD' ? '* Fill password if you want to update.' : ''">
          </div>
        </div>
        <div class="row g-3 pt-2">
          <div class="col-md-2 ">
            <label>Role</label>
          </div>
          <div class="col-md-4">
            <ng-select [items]="roles" bindLabel="NAME" bindValue="CODE" formControlName="role"></ng-select>
          </div>
          <div class="col-md-2 ">
            <label>Name</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control form-control-sm w-100" formControlName="name">
          </div>
        </div>
        <div class="row g-3 pt-2"> <!-- g-3 adds spacing between columns -->
          <div class="col-md-2 ">
            <label>Mobile No.</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control form-control-sm w-100" formControlName="mobile">

          </div>
          <div class="col-md-2 ">
            <label>Email Id</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control form-control-sm w-100" formControlName="email">
          </div>
        </div>
        <div class="row g-3 pt-2"> <!-- g-3 adds spacing between columns -->
          <div class="col-md-2 ">
            <label>Address</label>
          </div>
          <div class="col-md-4">
            <textarea class="form-control form-control-sm w-100" formControlName="address"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="card-footer text-body-secondary text-center">
  <button class="btn btn-primary shadow-sm mx-1 w-25" (click)="submit()"
    *ngIf="this.queryParamsData.params.STATUS == 'ADD' || this.queryParamsData.params.STATUS == 'EDIT'">Submit</button>
  <button class="btn btn-primary shadow-sm mx-1 w-25" (click)="onDelete()"
    *ngIf="this.queryParamsData.params.STATUS == 'DEL'">Delete</button>
  <button class="btn btn-primary shadow-sm mx-1 w-25" (click)="onBack()">Back</button>
</div>