<nav>
  <div class="navbar-wrapper">
    <div class="m-header d-flex justify-content-center">
      <a href="javascript:" class="b-brand text-center fs-3">
        <!-- <img src="assets/images/logo-dark.svg" alt="theme-logo" class="logo logo-dark logo-lg" /> -->
        <!-- {{QuickOPD}} -->
        <img src="assets/images/compserv.png" [alt]="QuickOPD" width="150" height="150">
      </a>
    </div>
    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100 compact"></app-nav-content>
  </div>
</nav>