<div class="row">
  @for (analytic of AnalyticEcommerce; track analytic) {
  <div class="col-md-6 col-xl-3">
    <app-card [showHeader]="false" blockClass="dashboard-card">
      <h6 class="mb-2 f-w-400 text-muted">{{ analytic.title }}</h6>
      <h4 class="mb-3">
        {{ analytic.amount }}
        <!-- <span class="badge {{ analytic.background }} border {{ analytic.border }} ">
          <i antIcon type="{{ analytic.icon }}" theme="outline"></i>
          {{ analytic.percentage }}
        </span> -->
      </h4>
      <!-- <p class="mb-0 text-muted text-sm">
        You made an extra
        <span class="{{ analytic.color }}">{{ analytic.number }}</span>
        this year
      </p> -->
    </app-card>
  </div>
  }


  <div class="col-12">
    <h5 class="mb-3">Recent Patient</h5>
    <div class="card tbl-card">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>TRACKING NO.</th>
              <th>Date</th>
              <th>Patient Name</th>
              <th class="text-end">Added By</th>
              <th class="text-end">Added Time</th>
            </tr>
          </thead>
          <tbody>
            @for (order of recentOrder; track order) {
            <tr>
              <td>{{order?.TRAN_NO}} </td>
              <td>{{order?.TRAN_DATE}} </td>
              <td>{{ order.PAT_NAME }}</td>
              <td class="text-end">{{ order.SYS_ADDUSER }}</td>
              <td class="text-end">{{ order.SYS_ADDTIME }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- [ sample-page ] end -->
</div>